.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  max-height: 500px;  
  float: left;
  width: 100%;
  border: 0;

  z-index: -1;
  filter:alpha(opacity=100)3000;
  -moz-opacity: 1.0;
  opacity: 1.0;
  }

  
@keyframes anavbar{
  from {background-color:#FF5722;}
  to {background-color:#9E9E9E;opacity: 0.5;display: block;}
}
.col-prim-osc{background-color:#E64A19;}.col-prim{background-color:#FF5722;}.col-texto-prim{color:#212121;}.col-texto-sec{color:#757575;}
.col-icon{color:#FFFFFF;}header a:hover{animation-name:anavbar;animation-duration:1s;}footer ul{list-style:none;}
.rslides_here{background-color:black; border-radius: 75px; width: 150; height: 150;}
.rslides_tabs{text-align:center;}.rslides_tabs li{display:inline;margin-right: 5px;}
